body{
    background-image: url("./table.png");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
    align-content: center;
    height: 80vh;
}
h1{
    font-size: 80px;
    color: goldenrod;
}
p{font-size: 30px;}
#message-el{
    font-style: italic;
}
#button{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.btn{
    background-color: gold;
    color: #01662D;
    padding: 15px ;
    width: 280px;
    font-size: 18px;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 10px;
    letter-spacing: 4px;
    cursor : pointer ; 
    margin : 10px;
    transition: 0.3s ;
}
.btn:hover{
    border: 1px solid white;
    font-size: 20px;
}